.catalog-product-view .product-info-main .product.attribute.sku {
  font-size: 18px;
  color: gray;
}

.catalog-product-view .product-info-main .product-info-stock-sku {
  padding-top: 10px;
}

.catalog-product-view .product-info-main .product-reviews-summary {
  float: none;
  border-bottom: 1px solid #c1c1c1;
}

.catalog-product-view .product-info-main .product-info-price {
  margin-bottom: 0;
}

.catalog-product-view .product-info-main .product-add-form button#product-addtocart-button {
  background-color: pink;
  border: none;
}

.catalog-product-view .product-info-main .product.attribute.overview {
  font-size: 16px;
}

