.catalog-category-view .toolbar-products {
  padding: 10px;
  background-color: #f0f0f0f0;
}

.catalog-category-view .toolbar-products .field.limiter {
  font-size: 12px;
}

.catalog-category-view .toolbar-products .field.limiter select#limiter {
  background-color: white;
}

.catalog-category-view .toolbar-products p#toolbar-amount {
  font-size: 12px;
  text-transform: capitalize;
}

.catalog-category-view .toolbar-products .toolbar-sorter.sorter {
  font-size: 12px;
}

.catalog-category-view .sidebar.sidebar-main {
  position: sticky;
  padding-left: 0;
  top: 10px;
}

.catalog-category-view .toolbar-sorter select#sorter {
  background-color: white;
}

.catalog-category-view .product-item:hover {
  transform: scale(1.05);
}

.catalog-category-view .product-item .product-item-name {
  font-size: 22px;
}

.catalog-category-view .product-item .price-box .price {
  font-size: 22px;
}

.catalog-category-view .product-item .product-item-actions .actions-primary .tocart,
.catalog-category-view .product-item .product-item-actions .actions-primary .tocart:hover {
  background: pink;
  border: none;
  font-size: 16px;
}

