/** header links customisation */

.header.panel > .header.links {
  float: none !important;
  width: 100%;
}

.header.panel > .header.links > li.welcome,
.header.panel > .header.links > li > a {
  line-height: 2 !important;
  font-weight: 500;
}

header.page-header {
  margin-bottom: 0;
}

header.page-header a.logo {
  margin-bottom: 0;
}

header.page-header .header.panel {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  height: 28px;
}

ul.header.links {
  height: 28px;
  top: -11px;
  position: relative;
}

ul.header.links .navbar-left {
  float: left !important;
  left: -50px;
  position: relative;
}

ul.header.links .navbar-left ul.social-icons {
  display: inline-block !important;
}

ul.header.links .navbar-left ul.social-icons li {
  list-style-type: none;
  display: inline-block;
  color: transparent;
  vertical-align: middle;
  height: 28px;
}

ul.header.links .navbar-left ul.social-icons li .icon {
  background-image: url(../images/social-media.png);
  background-position: -440px 0;
  background-size: auto 25px;
  background-repeat: no-repeat;
  display: block;
  width: 30px;
  height: 28px;
}

ul.header.links .navbar-left ul.social-icons li span.icon.facebook {
  background-position: -716px 2px;
}

ul.header.links .navbar-left ul.social-icons li span.icon.instagram {
  background-position: -748px 2px;
}

ul.header.links .navbar-left ul.social-icons li span.icon.pinterest {
  background-position: -817px 2px;
}

ul.header.links .navbar-left ul.social-icons li .label {
  position: relative;
  display: inline;
  padding: 0;
  margin: 0;
  top: -5px;
  left: 5px;
  font-size: 1.2em;
}

ul.header.links .navbar-center {
  display: inline-block;
  line-height: 2;
  font-size: 14px;
  font-weight: 500;
  vertical-align: top;
  position: relative;
  left: 15%;
}

ul.header.links .navbar-right {
  display: inline-block;
  line-height: 2;
  font-size: 14px;
  vertical-align: top;
  float: right;
}

ul.header.links .navbar-right a:visited {
  color: white;
}

ul.header.links .navbar-right .sign-in,
ul.header.links .navbar-right .register {
  font-weight: 500;
  display: inline-block;
}

/** Homepage Content customisation */

.cms-home {
  /*Top picks*/
}

.cms-home .owl-stage-outer.owl-height {
  height: 400px !important;
}

.cms-home .top-picks {
  margin-top: 30px;
}

.cms-home .top-picks h1.title {
  font-family: cursive;
  margin-bottom: 20px;
}

.cms-home .top-picks .content.row {
  background-color: #6e716d;
  padding: 15px 0;
  margin-left: 0;
  margin-right: 0;
}

.cms-home .top-picks .content.row .content-block {
  position: relative;
  height: 470px;
  border: 8px solid #fff;
}

.cms-home .top-picks .content.row .content-block a {
  height: 380px;
  display: block;
  position: relative;
  overflow: hidden;
}

.cms-home .top-picks .content.row .content-block .image-bottom {
  background-color: #fff;
  height: 80px;
}

.cms-home .top-picks .content.row .content-block img {
  margin-bottom: 10px;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: initial;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform;
}

.cms-home .top-picks .content.row .content-block img:hover {
  transform: translate(-50%, -50%) scale(1.05);
}

.copyright {
  font-size: 12px;
  font-weight: 500;
}

/** Modification to banner */

/** Ensure slider buttons always show, not just on hover... */

#banner-slider-carousel .owl-nav {
  opacity: 1 !important;
}

#banner-slider-carousel .owl-dots {
  opacity: 1 !important;
}

#banner-slider-carousel .owl-nav button {
  color: black !important;
  opacity: unset !important;
  display: unset !important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: black !important;
}

#banner-slider-carousel .owl-nav button:focus {
  outline: none;
}

@media (max-width: 1200px){
ul.header.links {
  top: 0 !important;
}

ul.header.links .navbar-center {
  display: none;
}
}

@media (max-width: 767px){
header.page-header .header.panel {
  height: 0;
}
}

