.catalog-category-view {
    .toolbar-sorter select#sorter{
    background-color:white;
    }

    .product-item {
        .product-item-name {
            font-size: 22px;
        }

        .price-box .price{
            font-size:22px;
        }

    }
}
