/** header links customisation */

.header.panel > .header.links{
  float:none !important;
  width:100% !important;
  top: -11px !important;
}

.header.panel > .header.links > li.welcome, .header.panel > .header.links > li > a{
  line-height: 2.0 !important;
  font-weight: 500;
}

header.page-header{
  margin-bottom: 0;
  a.logo{
    margin-bottom: 0;
  }

  .header.panel {
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    height:28px;
  }
}

.header.content{
  .minicart-wrapper {
    top: 25px !important;
  }

  form#search_mini_form{
    top: 25px;
    position: relative;
  }
  .navigation {
    background: transparent !important;
    top: 50px !important;
    width: 55% !important;
    left: 15px;

    li.level0{
      font-size: 20px !important;
      padding: 0 20px 0 0 !important;
      margin: 0 20px 0 0 !important;
    }
  }
}

ul.header.links{
  height:28px;
  position: relative;
  .navbar-left{
    float: left!important;
    left: -50px;
    position: relative;

    ul.social-icons{
      display: inline-block!important;

      li {
        list-style-type: none;
        display: inline-block;
        color: transparent;
        vertical-align: middle;
        height: 28px;
        .icon {
          background-image: url(../images/social-media.png);
          background-position: -440px 0;
          background-size: auto 25px;
          background-repeat: no-repeat;
          display: block;
          width: 30px;
          height: 28px;
        }

        span.icon.facebook
        {
          background-position: -716px 2px;
        }

        span.icon.instagram
        {
          background-position: -748px 2px;
        }

        span.icon.pinterest{
          background-position: -817px 2px;
        }

        .label{
          position: relative;
          display: inline;
          padding: 0;
          margin: 0;
          top: -5px;
          left: 5px;
          font-size: 1.2em;
        }
      }
    }
  }

  .navbar-center {
    display: inline-block;
    line-height: 2;
    font-size: 14px;
    font-weight:500;
    vertical-align: top;
    position:relative;
    left:15%;
  }

  @media (max-width:1200px) {
    .navbar-center {
      display:none;
    }
  }

  .navbar-right{
    display: inline-block;
    line-height: 2;
    font-size: 14px;
    vertical-align: top;
    float: right;

    a:visited, .alink:visited {
      color: white;
    }
    .sign-in {
      font-weight: 500;
      display:inline-block;

      a{
        color:white;
      }
    }

    .register{
      font-weight: 500;
      display:inline-block;
    }
  }

}

/** Homepage Content customisation */
.cms-home{
  .owl-stage-outer.owl-height{
    height: 400px !important;
  }

  /*Top picks*/

  .top-picks
  {
    margin-top: 30px;
    h1.title{
      font-family: cursive;
      margin-bottom: 20px;
    }
    .content.row{
      background-color: #6e716d;
      padding: 15px 0;
      margin-left:0;
      margin-right:0;
      .content-block{
        position: relative;
        height: 470px;
        border: 8px solid #fff;
        a{
          height: 380px;
          display: block;
          position: relative;
          overflow: hidden;
        }

        .image-bottom{
          background-color: #fff;
          height: 80px;
        }

        img{
          margin-bottom: 10px;
          min-height: 100%;
          min-width: 100%;
          max-height: 100%;
          max-width: initial;
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%) scale(1);
          transition: transform;
        }

        img:hover{
          transform: translate(-50%, -50%) scale(1.05);
        }
      }
    }
  }
}

.copyright{
  font-size:12px;
  font-weight: 500;
}

/** Modification to banner */

/** Ensure slider buttons always show, not just on hover... */
#banner-slider-carousel {
  .owl-nav {
    opacity: 1 !important;
  }
  .owl-dots{
    opacity: 1 !important;
  }
  .owl-nav button{
    color:black !important;
    opacity: unset !important;
    display: unset !important;
  }
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
  background: black !important;
}

#banner-slider-carousel .owl-nav button:focus{
  outline:none;
}

/*  Topmenu navigation */

@media (min-width:768px) {

  .header.content {
    padding: 0 10px 0 !important;
    height: 30px;

    .navigation {
      li.level0 {
        border-right: 1px solid pink !important;
      }

      li.level0:last-child {
        border-right: none !important;
      }
    }
  }
}

@media (max-width:767px) {
  header.page-header .header.panel  {
    height:0;
  }
}

@media (min-width:768px) and (max-width: 1200px){

  .header.panel > .header.links {
    top: 0 !important;
  }

  .header.content{

    .minicart-wrapper {
      top: -10px!important;
    }

    form#search_mini_form{
      top: -10px !important;
    }

    .navigation {
      width: 70% !important;
      left: 100px;
      top: 70px !important;

      li.level0 {
        font-size:16px !important;
        padding: 0 15px 0 0 !important;
        margin: 0 15px 0 0 !important;
      }
    }
  }
}
