/** header links customisation */

.header.panel > .header.links{
  float:none !important;
}

ul.header.links{

  .navbar-left{
    float: left!important;
    left: -30px;
    position: relative;

    ul.social-icons{
      display: inline-block!important;

      li {
        list-style-type: none;
        display: inline-block;
        color: transparent;
        vertical-align: middle;
        height: 28px;
        .icon {
          background-image: url(../images/social-media.png);
          background-position: -440px 0;
          background-size: auto 25px;
          background-repeat: no-repeat;
          display: block;
          width: 30px;
          height: 28px;
        }

        span.icon.facebook
        {
          background-position: -716px 2px;
        }

        span.icon.instagram
        {
          background-position: -748px 2px;
        }

        span.icon.pinterest{
          background-position: -817px 2px;
        }

        .label{
          position: relative;
          display: inline;
          padding: 0;
          margin: 0;
          top: -5px;
          left: 5px;
          font-size: 1.2em;
        }
      }
    }
  }
}



