/** header links customisation */

.header.panel > .header.links{
  float:none !important;
}

ul.header.links{

  .navbar-left{
    float: left!important;
    left: -30px;
    position: relative;

    ul.social-icons{
      display: inline-block!important;

      li {
        list-style-type: none;
        display: inline-block;
        color: transparent;
        vertical-align: middle;
        height: 28px;
        .icon {
          background-image: url(../images/social-media.png);
          background-position: -440px 0;
          background-size: auto 25px;
          background-repeat: no-repeat;
          display: block;
          width: 30px;
          height: 28px;
        }

        span.icon.facebook
        {
          background-position: -716px 2px;
        }

        span.icon.instagram
        {
          background-position: -748px 2px;
        }

        span.icon.pinterest{
          background-position: -817px 2px;
        }

        .label{
          position: relative;
          display: inline;
          padding: 0;
          margin: 0;
          top: -5px;
          left: 5px;
          font-size: 1.2em;
        }
      }
    }
  }
}

/** Homepage Content customisation */
.cms-home{
  .owl-stage-outer.owl-height{
    height: 400px !important;
  }

  /*Top picks*/

  .top-picks
  {
    margin-top: 30px;
    h1.title{
      font-family: cursive;
    }
    .content.row{
      background-color: #6e716d;
      padding: 15px 0;
      margin-left:0;
      margin-right:0;
      .content-block{
        position: relative;
        height: 470px;
        border: 8px solid #fff;
        a{
          height: 380px;
          display: block;
          position: relative;
          overflow: hidden;
        }

        .image-bottom{
          background-color: #fff;
          height: 80px;
        }

        img{
          margin-bottom: 10px;
          min-height: 100%;
          min-width: 100%;
          max-height: 100%;
          max-width: initial;
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%) scale(1);
          transition: transform;
        }
      }
    }
  }
}


